@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.ArticlesMain>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "master.cshtml";
}

<!-- Main -->
<section id="main" class="wrapper">
    <div class="container">

        <header class="major special">
            <h2>@Model.Value("articlesTitle")</h2>
        </header>

    
        @Model.Value("articlesBodyText")
    </div>
</section>
@{
	var selection = Umbraco.Content(Guid.Parse("514aa1f1-e4e9-4da0-a679-f4d319c9a3a4"))
    .ChildrenOfType("articlesItem")
    .Where(x => x.IsVisible())
    .OrderByDescending(x => x.CreateDate);
}
<ul>
	@foreach (var item in selection)
	{
	<article class="special">
        <div class="articletitle"><a href="@item.Url">@item.Name</a></div>
        <div class="articlepreview">@item.Value("articleContent").ToString().Truncate(100) <a href="@item.Url">Read More..</a></div>
    </article>
    <hr/>
	}
</ul>

